.container {
  max-width: 800px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.column-summary {
  width: calc(100% / 3);
}

.dk-bio {
  width: 100%;
}

.mario-image {
  width: 100%;
}
